{% extends 'base.html.twig' %}

{% block content %}
    <div class="js-game"
         data-timeout="{{ 1000 * default_timeout }}"
         data-url="{{ url('game_refresh', { 'uuid': game.uuid }) }}">

        <p></p>

        <div class="js-panels">
            {% include ':game:viewPanels.html.twig' with { 'game': game, 'maze': maze } %}
        </div>

        <div class="hidden js-buttons">
            {% include ':game:viewButtons.html.twig' with { 'game': game } %}
        </div>

    </div>
{% endblock %}

{% block more_javascripts %}
    <script src="{{ asset('js/refresh.js') }}"></script>
{% endblock %}
