{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 .js-maze">
            {% include ':game:maze.html.twig' with { 'maze': maze } %}
        </div>
    </div>
{% endblock %}
