{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 js-maze" data-url="{{ url('game_render', { 'uuid': game.uuid }) }}">
            {% include ':game:maze.html.twig' with { 'maze': maze } %}
        </div>
    </div>
{% endblock %}

{% block more_javascripts %}
    <script language="JavaScript">

        (function (win, $) {

            'use strict';

            var $maze = $('.js-maze'),
                url = $maze.data('url');

            /**
             * startTimer()
             */
            var startTimer = function () {
                win.setTimeout(reloadMaze, 1000);
            };

            /**
             * reloadMaze()
             */
            var reloadMaze = function () {
                $.get(url)
                    .done(function(html) {
                        $maze.html(html);
//                        startTimer();
                    });
            };

            /**
             * init()
             */
            var init = function() {
                startTimer();
            };

            /**
             * Main process
             */
            init();

            return {
                init: init
            };

        }(window, jQuery));
    </script>
{% endblock %}
