/app/bootstrap.php.cache
/app/config/parameters.yml
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/bin/
/web/bundles/
/vendor/
/composer.phar
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/supervisord*
/.idea
/deploy
!/deploy/deploy.sh
!/deploy/remote/install.sh
composer.phar
