{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h1>{{ 'app.credits.title' | trans }}</h1>
        <ul>
            <li>
                <a href="http://www.flaticon.com/free-icon/labyrinth_182580" title="Labyrinth icon" target="_blank">Labyrinth icon</a>
                was made by
                <a href="http://www.flaticon.com/authors/zlatko-najdenovski" title="Zlatko Najdenovski" target="_blank">Zlatko Najdenovski</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>

            <li>
                <a href="http://www.flaticon.com/free-icon/pacman_131412" title="Pacman icon" target="_blank">Pacman icon</a>
                was made by
                <a href="http://www.flaticon.com/authors/baianat" title="Baianat" target="_blank">Baianat</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>

            <li>
                <a href="http://www.flaticon.com/free-icon/ghost_387112" title="Ghost icon" target="_blank">Ghost icon</a>
                was made by
                <a href="http://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>

            <li>
                <a href="http://www.flaticon.com/free-icon/trophy_321773" title="Trophy icon" target="_blank">Trophy icon</a>
                was made by
                <a href="http://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>

            <li>
                <a href="http://www.flaticon.com/free-icon/mansory_351764" title="Mansory icon" target="_blank">Mansory icon</a>
                used for maze walls was made by
                <a href="http://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>

            <li>
                <a href="http://www.flaticon.com/free-icon/tombstone-with-cross_78204" title="Tombstone icon" target="_blank">Tombstone icon</a>
                was made by
                <a href="http://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>

            <li>
                <a href="http://www.flaticon.com/free-icon/racing-flag_65578" title="Racing flag icon" target="_blank">Racing flag icon</a>
                was made by
                <a href="http://www.flaticon.com/authors/vectors-market" title="Vectors Market" target="_blank">Vectors Market</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>

            <li>
                <a href="http://www.flaticon.com/free-icon/map-marker-point_34369" title="Map marker icon" target="_blank">Map marker icon</a>
                was made by
                <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon" target="_blank">SimpleIcon</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>

            <li>
                <a href="http://www.flaticon.com/free-icon/creative-commons-circular-logo_78110" title="Creative Commons icon" target="_blank">Creative Commons icon</a>
                was made by
                <a href="http://www.flaticon.com/authors/plainicon" title="Plainicon" target="_blank">Plainicon</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>

            <li>
                <a href="https://www.flaticon.com/free-icon/snowman_227290" title="Snowman icon" target="_blank">Snowman icon</a>
                was made by
                <a href="http://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>

            <li>
                <a href="https://www.flaticon.com/free-icon/snowflake_658690" title="Snowflake icon" target="_blank">Snowflake icon</a>
                was made by
                <a href="http://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>
        </ul>
    </div>
{% endblock %}
