{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h1>{{ 'app.credits.title' | trans }}</h1>
        <ul>
            <li>
                <a href="http://www.flaticon.com/free-icon/labyrinth_182580" title="Labyrinth icon" target="_blank">Labyrinth icon</a>
                was made by
                <a href="http://www.flaticon.com/authors/zlatko-najdenovski" title="Zlatko Najdenovski" target="_blank">Zlatko Najdenovski</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>
            <li>
                <a href="http://www.flaticon.com/free-icon/creative-commons-circular-logo_78110" title="Creative Commons icon" target="_blank">Creative Commons icon</a>
                was made by
                <a href="http://www.flaticon.com/authors/plainicon" title="Plainicon" target="_blank">Plainicon</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>
        </ul>
    </div>
{% endblock %}
