{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <p>
            <a href="http://www.flaticon.com/free-icon/labyrinth_182580" title="Labyrinth icon" target="_blank">Labyrinth icon</a>
            made by
            <a href="http://www.flaticon.com/authors/zlatko-najdenovski" title="Zlatko Najdenovski" target="_blank">Zlatko Najdenovski</a>
            from
            <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
            is licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </p>
    </div>
{% endblock %}
