{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 center-block">
            <table class="maze">
                {% for row in maze %}
                    <tr>
                        {% for cell in row %}
                            {% if cell.content == constant('\\AppBundle\\Domain\\Entity\\MazeCell::CELL_WALL') %}
                                <td class="wall">&nbsp;</td>
                            {% elseif cell.content == constant('\\AppBundle\\Domain\\Entity\\MazeCell::CELL_START') %}
                                <td class="start">&#9678;</td>
                            {% elseif cell.content == constant('\\AppBundle\\Domain\\Entity\\MazeCell::CELL_GOAL') %}
                                <td class="goal">&#9673;</td>
                            {% else %}
                                <td class="empty">&nbsp;</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
