{% extends 'base.html.twig' %}

{% block body %}
    <table>
        {% for row in maze %}
            <tr>
                {% for cell in row %}
                    <td>
                        {{ '%02x' | format(cell.content) }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}
