{
    "<span class="text-danger">name</span>": string,        <i class="text-muted">// The player or team name</i>
    "<span class="text-danger">email</span>": string        <i class="text-muted">// The contact email</i>
}
