POST /move HTTP/1.1
Host: your-api.com

{
    "<span class="text-danger">game</span>": {
        "<span class="text-danger">id</span>": "<span class="text-success">ccea91e9-fc06-49f3-b077-679877350c7f</span>"
    },
    "<span class="text-danger">player</span>": {
        "<span class="text-danger">id</span>": "<span class="text-success">3ad32117-bba6-42dd-8546-174296b2372a</span>",
        "<span class="text-danger">name</span>": "<span class="text-success">Test player</span>",
        "<span class="text-danger">position</span>": { "<span class="text-danger">y</span>": 7, "<span class="text-danger">x</span>": 2 },
        "<span class="text-danger">previous</span>": { "<span class="text-danger">y</span>": 8, "<span class="text-danger">x</span>": 2 },
        "<span class="text-danger">area</span>": { "<span class="text-danger">y1</span>": 2, "<span class="text-danger">x1</span>": 0, "<span class="text-danger">y2</span>": 12, "<span class="text-danger">x2</span>": 10 }
    },
    "<span class="text-danger">maze</span>": {
        "<span class="text-danger">size</span>": { "<span class="text-danger">height</span>": 15, "<span class="text-danger">width</span>": 25 },
        "<span class="text-danger">goal</span>": { "<span class="text-danger">y</span>": 3, "<span class="text-danger">x</span>": 24 },
        "<span class="text-danger">walls</span>": [
            { "<span class="text-danger">y</span>": 2, "<span class="text-danger">x</span>": 0 },
            { "<span class="text-danger">y</span>": 3, "<span class="text-danger">x</span>": 0 },
            { "<span class="text-danger">y</span>": 3, "<span class="text-danger">x</span>": 4 },
            { "<span class="text-danger">y</span>": 4, "<span class="text-danger">x</span>": 0 },
            { "<span class="text-danger">y</span>": 4, "<span class="text-danger">x</span>": 4 },
            { "<span class="text-danger">y</span>": 4, "<span class="text-danger">x</span>": 5 },
            { "<span class="text-danger">y</span>": 4, "<span class="text-danger">x</span>": 7 },
            { "<span class="text-danger">y</span>": 4, "<span class="text-danger">x</span>": 8 },
            { "<span class="text-danger">y</span>": 4, "<span class="text-danger">x</span>": 9 },
            { "<span class="text-danger">y</span>": 4, "<span class="text-danger">x</span>": 10 },
            { "<span class="text-danger">y</span>": 5, "<span class="text-danger">x</span>": 0 },
            { "<span class="text-danger">y</span>": 5, "<span class="text-danger">x</span>": 4 },
            { "<span class="text-danger">y</span>": 6, "<span class="text-danger">x</span>": 0 },
            { "<span class="text-danger">y</span>": 6, "<span class="text-danger">x</span>": 4 },
            { "<span class="text-danger">y</span>": 7, "<span class="text-danger">x</span>": 0 },
            { "<span class="text-danger">y</span>": 7, "<span class="text-danger">x</span>": 4 },
            { "<span class="text-danger">y</span>": 8, "<span class="text-danger">x</span>": 0 },
            { "<span class="text-danger">y</span>": 8, "<span class="text-danger">x</span>": 4 },
            { "<span class="text-danger">y</span>": 9, "<span class="text-danger">x</span>": 0 },
            { "<span class="text-danger">y</span>": 9, "<span class="text-danger">x</span>": 4 },
            { "<span class="text-danger">y</span>": 10, "<span class="text-danger">x</span>": 0 },
            { "<span class="text-danger">y</span>": 10, "<span class="text-danger">x</span>": 1 },
            { "<span class="text-danger">y</span>": 10, "<span class="text-danger">x</span>": 3 },
            { "<span class="text-danger">y</span>": 10, "<span class="text-danger">x</span>": 4 },
            { "<span class="text-danger">y</span>": 10, "<span class="text-danger">x</span>": 6 },
            { "<span class="text-danger">y</span>": 10, "<span class="text-danger">x</span>": 7 },
            { "<span class="text-danger">y</span>": 10, "<span class="text-danger">x</span>": 8 },
            { "<span class="text-danger">y</span>": 10, "<span class="text-danger">x</span>": 9 },
            { "<span class="text-danger">y</span>": 10, "<span class="text-danger">x</span>": 10 },
            { "<span class="text-danger">y</span>": 11, "<span class="text-danger">x</span>": 0 },
            { "<span class="text-danger">y</span>": 11, "<span class="text-danger">x</span>": 4 },
            { "<span class="text-danger">y</span>": 11, "<span class="text-danger">x</span>": 8 },
            { "<span class="text-danger">y</span>": 12, "<span class="text-danger">x</span>": 0 },
            { "<span class="text-danger">y</span>": 12, "<span class="text-danger">x</span>": 4 }
        ]
    },
    "<span class="text-danger">ghosts</span>": [
        { "<span class="text-danger">y</span>": 5, "<span class="text-danger">x</span>": 7 }
    ]
}