body {
    padding-top: 50px;
}

/**********************************************************************************************************************/

.bg-primary small {
    color: #CCCCCC;
}

.bg-primary a {
    color: #FFFFFF;
}

.bg-primary a:hover {
    color: #CCCCCC;
}

/**********************************************************************************************************************/

footer .text-footer-right {
    text-align: right;
}

@media (max-width: 767px) {
    footer .text-footer-right {
        text-align: left;
    }
}

/**********************************************************************************************************************/

.maze-buttons {
    display: table;
    margin-left: auto;
    margin-right: auto;

}

.panel-list-striped > div:nth-of-type(even) {
    background-color: #f0f0f0 !important;
}

/**********************************************************************************************************************/
