body {
    padding-top: 50px;
}

.maze {
    font-family: monospace;
    padding: 0;
    margin: 0;
}
.maze .empty {
    background-color: #000000;
}

.maze .wall {
    background-color: #808080;
}

.maze .start {
    background-color: #FFFF00;
}

.maze .goal {
    background-color: #008000;
    color: #FFFFFF;
}

.maze .player {
    background-color: #000000;
    color: #FFFFFF;
}
