.maze {
    font-family: monospace;
    font-size: 15px;
    line-height: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/**********************************************************************************************************************/

.maze td {
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    width: 15px;
    height: 15px;
}

/**********************************************************************************************************************/

.maze .empty {
    background-color: #000000;
}

.maze .empty:after {
    content: "\A0";
}

/**********************************************************************************************************************/

.maze .wall {
    background-color: #808080;
}

.maze .wall:after {
    content: "\A0";
}

/**********************************************************************************************************************/

.maze .start {
    background-color: #FFFF00;
}

.maze .start:after {
    content: "\25CE";
}

/**********************************************************************************************************************/

.maze .goal {
    background-color: #008000;
    color: #FFFFFF;
}

.maze .goal:after {
    content: "\1F3C1";
}

/**********************************************************************************************************************/

.maze .winner {
    background-color: #008000;
    color: #FFFFFF;
}

.maze .winner:after {
    content: "\1F3C6";
}

/**********************************************************************************************************************/

.maze .killed {
    background-color: #CCCCCC;
    color: #FF0000;
}

.maze .killed:after {
    content: "\271D";
}

/**********************************************************************************************************************/

.maze .ghost {
    background-color: #000000;
    color: #0088FF;
}

.maze .ghost:after {
    content: "\2B1F";
}

.maze .ghost-neutral {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .ghost-neutral:after {
    content: "\2B1F";
}

.maze .ghost-bad {
    background-color: #000000;
    color: #800000;
}

.maze .ghost-bad:after {
    content: "\2B1F";
}

/**********************************************************************************************************************/

.maze .player {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player:after {
    content: "\1F6B9";
}

/**********************************************************************************************************************/

.maze .player1 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player1:after {
    content: "\2776";
}

/**********************************************************************************************************************/

.maze .player2 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player2:after {
    content: "\2777";
}

/**********************************************************************************************************************/

.maze .player3 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player3:after {
    content: "\2778";
}

/**********************************************************************************************************************/

.maze .player4 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player4:after {
    content: "\2779";
}

/**********************************************************************************************************************/

.maze .player5 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player5:after {
    content: "\277A";
}

/**********************************************************************************************************************/

.maze .player6 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player6:after {
    content: "\277B";
}

/**********************************************************************************************************************/

.maze .player7 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player7:after {
    content: "\277C";
}

/**********************************************************************************************************************/

.maze .player8 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player8:after {
    content: "\277D";
}

/**********************************************************************************************************************/

.maze .player9 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player9:after {
    content: "\277E";
}

/**********************************************************************************************************************/

.maze .player10 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player10:after {
    content: "\277F";
}

/**********************************************************************************************************************/

.maze .player11 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player11:after {
    content: "\24EB";
}

/**********************************************************************************************************************/

.maze .player12 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player12:after {
    content: "\24EC";
}

/**********************************************************************************************************************/

.maze .player13 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player13:after {
    content: "\24ED";
}

/**********************************************************************************************************************/

.maze .player14 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player14:after {
    content: "\24EE";
}

/**********************************************************************************************************************/

.maze .player15 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player15:after {
    content: "\24EF";
}

/**********************************************************************************************************************/

.maze .player16 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player16:after {
    content: "\24F0";
}

/**********************************************************************************************************************/

.maze .player17 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player17:after {
    content: "\24F1";
}

/**********************************************************************************************************************/

.maze .player18 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player18:after {
    content: "\24F2";
}

/**********************************************************************************************************************/

.maze .player19 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player19:after {
    content: "\24F3";
}

/**********************************************************************************************************************/

.maze .player20 {
    background-color: #000000;
    color: #FFFFFF;
}

.maze .player20:after {
    content: "\24F4";
}

/**********************************************************************************************************************/
