.x-maze.x-mas .x-mas-wall {
    background: #000000 url("../images/xmas-snowflake.png") no-repeat;
    background-size: 100%;
}
/**********************************************************************************************************************/

.x-maze.x-mas .x-ghost-regular {
    background: #000000 url("../images/xmas-snowman-regular.png") no-repeat;
    background-size: 100%;
}


.x-maze.x-mas .x-ghost-neutral {
    background: #000000 url("../images/xmas-snowman-neutral.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-ghost-angry {
    background: #000000 url("../images/xmas-snowman-bad.png") no-repeat;
    background-size: 100%;
}

/**********************************************************************************************************************/

.x-maze.x-mas .x-player1 {
    background: #000000 url("../images/xmas-santa1.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player2 {
    background: #000000 url("../images/xmas-santa2.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player3 {
    background: #000000 url("../images/xmas-santa3.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player4 {
    background: #000000 url("../images/xmas-santa4.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player5 {
    background: #000000 url("../images/xmas-santa5.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player6 {
    background: #000000 url("../images/xmas-santa6.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player7 {
    background: #000000 url("../images/xmas-santa7.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player8 {
    background: #000000 url("../images/xmas-santa8.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player9 {
    background: #000000 url("../images/xmas-santa9.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player10 {
    background: #000000 url("../images/xmas-santa10.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player11 {
    background: #000000 url("../images/xmas-santa11.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player12 {
    background: #000000 url("../images/xmas-santa12.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player13 {
    background: #000000 url("../images/xmas-santa13.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player14 {
    background: #000000 url("../images/xmas-santa14.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player15 {
    background: #000000 url("../images/xmas-santa15.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player16 {
    background: #000000 url("../images/xmas-santa16.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player17 {
    background: #000000 url("../images/xmas-santa17.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player18 {
    background: #000000 url("../images/xmas-santa18.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player19 {
    background: #000000 url("../images/xmas-santa19.png") no-repeat;
    background-size: 100%;
}

.x-maze.x-mas .x-player20 {
    background: #000000 url("../images/xmas-santa20.png") no-repeat;
    background-size: 100%;
}
