{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 .js-maze">
            {% include ':maze:maze.html.twig' %}
        </div>
    </div>
    {# Player &#128697; #}
{% endblock %}
